<!doctype html>
<!--
	Itsy by FreeHTML5.co
	Twitter: https://twitter.com/fh5co
	Facebook: https://fb.com/fh5co
	URL: https://freehtml5.co
-->
<html class="home blog no-js" lang="en-US">
<head>
    <title>Itsy | A cutesy little template by FreeHTML5.co</title>

    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          type="text/css" media="all"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC%3A400%2C700%7CLato%3A400%2C700%2C400italic%2C700italic&amp;ver=4.9.8"
          type="text/css" media="screen"/>
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="/css/print.css" type="text/css" media="print"/>
    <!--[if (lt IE 9) & (!IEMobile)]>
    <link rel="stylesheet" id="lt-ie9-css" href="/css/ie.css" type="text/css" media="screen"/>
    <![endif]-->
    <script src='js/jquery-3.0.0.min.js'></script>
    <script src='js/jquery-migrate-3.0.1.min.js'></script>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <style>
        .message-container {
            max-width: 700px;
            margin: 10px;
            padding: 15px;
            border-radius: 10px;
            background-color: #e1ffc7;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .sender-name {
            font-weight: bold;
            color: #3b5998; /* Facebook Blue */
        }

        .message-content {
            margin-top: 5px;
        }

        .timestamp {
            font-size: 12px;
            color: #888;
            margin-top: 10px;
        }
    </style>

</head>
<body class="home sticky-menu sidebar-off" id="top">

<header class="header">

    <div class="header-wrap">

        <div class="logo plain logo-left">
            <div class="site-title">
                <h3 th:text="${userLogin.getFirstName()}+${userLogin.getMiddleName()} + ${userLogin.getLastName()}"></h3>
            </div>
        </div><!-- /logo -->


        <nav id="nav" role="navigation">
            <div class="table">
                <div class="table-cell">
                    <ul id="menu-menu-1">
                        <li class="menu-item">
                            <a href="index.html">Home</a></li>
                        <li class="menu-item">
                            <a href="about.html">About me</a></li>
                        <li class="menu-item">
                            <a href="#">Dropdown</a>
                            <ul class="sub-menu">
                                <li class="menu-item">
                                    <a href="#">Cute</a></li>
                                <li class="menu-item">
                                    <a href="#">Fun</a></li>
                                <li class="menu-item">
                                    <a href="#">Fitness</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item">
                            <a href="blog.html">Blog</a>
                            <ul class="sub-menu">
                                <li class="menu-item">
                                    <a href="single.html">Single</a></li>
                            </ul>
                        </li>
                        <li class="menu-item">
                            <a href="typography.html">Typography</a></li>
                        <li class="menu-item">
                            <a href="contact.html">Contact me</a></li>
                        <li class="menu-inline menu-item">
                            <a title="Twitter" href="http://twitter.com/fh5co">
                                <i class="fa fa-twitter"></i><span class="i">Twitter</span>
                            </a></li>
                        <li class="menu-inline menu-item">
                            <a title="Facebook" href="http://www.facebook.com/fh5co">
                                <i class="fa fa-facebook"></i><span class="i">Facebook</span>
                            </a></li>
                        <li class="menu-inline menu-item">
                            <a title="Flickr" href="#"><i class="fa fa-flickr"></i><span class="i">Flickr</span></a>
                        </li>
                        <li class="menu-inline menu-item">
                            <a title="Instagram" href="#">
                                <i class="fa fa-instagram"></i><span class="i">Instagram</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <a href="#nav" class="menu-trigger"><i class="fa fa-bars"></i></a>

        <a href="#topsearch" class="search-trigger"><i class="fa fa-search"></i></a>

    </div>

</header>


<div class="wrap full-wrap">
    <div class="main-wrap">
        <section class="main">


            <article class="post has-post-thumbnail">

                <div class="inner">

                    <h1 class="entry-title" th:text="${postPre.get().getMetaTitle()}"></h1>
                    <ul class="meta top">
                        <li class="time">
                            <h8 th:text="${postPre.get().getPublishedAt()}"></h8>
                        </li>

                        <li class="author-m">
                            By
                            <span class="vcard author">
                                <h8 th:text="${postPre.get().getAuthor().getLastName()}"></h8>
                            </span>
                        </li>

                    </ul>
                    <div class="post-content">
                        <p th:text="${postPre.get().getContent()}"></p>
                    </div>


                    <ul class="meta bottom">
                        <li class="cat">Saved:  <a href="#">Blog</a>, <a href="#">Cute</a></li>
                    </ul>

                </div>
            </article>

            <nav class="pagination">
                <ul>
                    <li class="older-posts">
                        <span><a href="#" rel="prev"><i class="fa fa-chevron-left"></i> <span class="i">Prev</span></a></span>
                    </li>
                    <li class="share-link">
                        <a href="#share"><i class="fa fa-share-alt"></i><span class="i">Share</span></a>
                    </li>
                    <li class="newer-posts">
                        <span class="inactive"><span class="i">Next</span> <i class="fa fa-chevron-right"></i></span>
                    </li>

                </ul>
            </nav>

            <div class="comments-wrapper">

                <div id="comments" class="inner">

                    <div class="comments-inner">
                        <h3 id="respond-title">Comments (<span th:text="${postComments.size()}"></span>) </h3>
                    </div>

                    <div th:each="cmt : ${postComments}">
                        <div class="message-container">
                            <div class="sender-name">
                                <h4 th:text="${cmt.getUser().getFirstName()} + ${cmt.getUser().getMiddleName()} + ${cmt.getUser().getLastName()}"></h4>
                            </div>
                            <div class="message-content" th:text="'&nbsp;&nbsp;&nbsp;&nbsp;'+${cmt.getContent()}"></div>
                        </div>
                    </div>



                    <aside class="comments">
                    </aside>

                    <div id="respond" class="comment-respond">
                        <h3 id="reply-title" class="comment-reply-title">Leave a comment <small><a rel="nofollow" id="cancel-comment-reply-link" href="#respond" style="display:none;">Cancel reply</a></small></h3>
                        <form>
                            <p>Your email address will not be published. Required fields are marked <span class="required">*</span></p>
                            <p><label for="comment">Comment</label><textarea id="comment" name="comment" cols="45" rows="8" aria-required="true" placeholder="Comment"></textarea></p><p class="comment-form-author"><label class="hidden" for="author">Name</label> <span class="required hidden">*</span><input id="author" name="author" type="text" value="" size="30" aria-required="true" placeholder="Name"></p>
                            <p><label for="email">Email</label> <span class="required ">*</span><input id="email" name="email" type="text" value="" size="30" aria-required="true" placeholder="Email"></p>
                            <p><label for="url">Website</label><input id="url" name="url" type="text" value="" size="30" placeholder="Website"></p>
                            <p class="form-submit"><input name="submit" type="submit" id="submit" class="submit" value="Post Comment"></p>
                        </form>
                    </div><!-- #respond -->

                </div>

            </div>


        </section>


    </div><!-- /main-wrap -->


</div><!-- /wrap -->


<div class="footer-widgets widget-count-4">

    <div class="wrap">

        <div class="mt-about-you-widget">
            <div class="widget footer">

                <img class="mt-about-avatar" src="/images/about-me.jpg" alt="Clare Itsy"/>


                <h4>Clare Itsy</h4>

                <div class="mt-about-bio">
                    <p>Hi, my name is Clare and I&#039;m a serial blogger. I love life and more
                    than anything in the whole wide world, I love taking photographs. Oh and did I mention, I quite like
                    blogging?</p>
                </div>


            </div>
        </div>
        <div class="widget footer"><h4>Recent Posts</h4>
            <ul>
                <li>
                    <a href="#">The Lollipop</a>
                </li>
                <li>
                    <a href="#">Running through Chicago</a>
                </li>
                <li>
                    <a href="#">The Apothecary</a>
                </li>
                <li>
                    <a href="#">The Flowers</a>
                </li>
                <li>
                    <a href="#">The Sunny Day</a>
                </li>
            </ul>
        </div>
        <div class="widget footer"><h4>Categories</h4>
            <ul>
                <li class="cat-item cat-item-6">
                    <a href="#" title="A cute little description would go in here">Blog</a>
                </li>
                <li class="cat-item cat-item-7">
                    <a href="#" title="A cute little description would go in here">Cute</a>
                </li>
                <li class="cat-item cat-item-8">
                    <a href="#">Fitness</a>
                </li>
                <li class="cat-item cat-item-9">
                    <a href="#">Fun</a>
                </li>
            </ul>
        </div>
        <div class="widget footer"><h4>Gallery</h4>
            <div class="textwidget">
                <img src="/images/gallery.png" alt="">
            </div>
        </div>
    </div>

</div>


<footer class="footer">
    <div class="footer-wrap">
        <div id="footer-text">&copy; 2018 Itsy.
            Designed by <a href="https://freehtml5.co" target="_blank">FreeHTML5</a>.</div>

        <a href="#top" id="btt">Top <i class="fa fa-chevron-up"></i></a>
    </div>
</footer>

<div class="share-overlay">

    <div class="share-inner">

        <span class="share-label">Share: </span>

        <ul class="meta sharer" id="share">
            <li class="share-on">
                <a target="blank" title="The+Lollipop"
                   href="https://twitter.com/share?text=The+Lollipop%20-%20&amp;url=https://freehtml5.co&amp;via=fh5co"
                   onclick="window.open('https://twitter.com/share?text=The+Lollipop%20-%20&amp;url=https://freehtml5.co','twitter','width=450,height=300,left='+(screen.availWidth/2-375)+',top='+(screen.availHeight/2-150)+'');return false;"
                   class="twitter">
                    <i class="fa fa-twitter"></i><span>Twitter</span>
                </a>
            </li>
            <li class="share-on">
                <a href="http://pinterest.com/pin/create/button/?url=https://freehtml5.co&amp;description=FreeHTML5"
                   target="_blank" class=" pinterest offblack">
                    <i class="fa fa-pinterest"></i><span>Pinterest</span>
                </a>
            </li>
            <li class="share-on">
                <a target="blank" title="The+Lollipop"
                   href="http://www.facebook.com/share.php?u=https://freehtml5.co"
                   onclick="window.open('http://www.facebook.com/share.php?u=https://freehtml5.co','facebook','width=450,height=300,left='+(screen.availWidth/2-375)+',top='+(screen.availHeight/2-150)+'');return false;"
                   class=" facebook ">
                    <i class="fa fa-facebook"></i><span>Facebook</span>
                </a>
            </li>

            <li class="share-on">
                <a onclick="window.open('https://plus.google.com/share?url=https://freehtml5.co','gplusshare','width=450,height=300,left='+(screen.availWidth/2-375)+',top='+(screen.availHeight/2-150)+'');return false;"
                   href="https://plus.google.com/share?urlhttps://freehtml5.co"
                   class=" googleplus offblack">
                    <i class="fa fa-google-plus"></i><span>Google+</span>
                </a>
            </li>
        </ul>
    </div>
</div>

<div id="topsearch">
    <div class="table">
        <div class="table-cell">
            <form role="search" method="get" class="searchform" action="index.html">
                <div>
                    <input type="text" value="" name="s" class="s" placeholder="Type and hit enter"/>
                    <input type="submit" class="searchsubmit" value="Search"/>
                </div>
            </form>
        </div>
    </div>
    <a href="#topsearch" class="search-trigger"><i class="fa fa-times"></i></a>
</div>


<script>var ie9 = false;</script>
<!--[if lte IE 9 ]>
<script> var ie9 = true; </script>
<![endif]-->
<script src="js/global-plugins.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>
